<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /v1/dashboard/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /v1/dashboard/index.html [L]
</IfModule>